HOST=0.0.0.0
PORT=1009
APP_ORIGIN=http://192.168.0.59:1008
NODE_ENV=development
ADMIN_EMAIL=admin@beautyandbaby.local
ADMIN_PASSWORD=admin123
DATABASE_PATH=./data/beauty-baby.sqlite
UPLOAD_DIR=./uploads
